@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
}
/* Default dots */
.swiper-pagination-bullet {
  background: #facc15; /* Tailwind yellow-400 */
  opacity: 0.6;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

/* Active dot */
.swiper-pagination-bullet-active {
  background: #eab308; /* Tailwind yellow-500 */
  opacity: 1;
  width: 36px;
}

/* Large screens (lg+) */
@media (min-width: 1024px) {
  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }

  .swiper-pagination-bullet-active {
    width: 48px;
  }
}

/* 2K & 4K screens */
@media (min-width: 1536px) {
  .swiper-pagination-bullet {
    width: 22px;
    height: 22px;
  }

  .swiper-pagination-bullet-active {
    width: 60px;
  }
}
